<h1>Account Settings</h1>

<div>
	<div>
		<h2>Change profile</h2>
		<p>
			Email<br>
			<input type="text">
		</p>
		<p>
			Gender<br>
			<input type="radio">male
			<input type="radio">female
		</p>
		<p>
			Birthday<br>
			Not yet implemented
		</p>
		<button>Update profile</button>
	</div>
	<div>
		<h2>Change password</h2>
		<p>
			Old password<br>
			<input type="password" id="input_pass_old" />
		</p>
		<p>
			New password<br>
			<input type="password" id="input_pass_new"/>
		</p>
		<p>
			Confirm new password<br>
			<input type="password" id="input_pass_confirm"/>
		</p>
		<button id="button_change_password" >Update password</button>
	</div>

</div>
