<div id = "food_result_view" class = "container">
	<div id class = "row">
		<div id = "left_layout" class = "col-md-3" role = "comlementary">
				<img src = "/assets/Thumbs_down_icon.png" class = "center-block" alt = "bad" id = "bad" height = "70%" width = "70%">
		</div>
	
	
		<div id = "main" class = "col-md-6" role = "main">
			<div class = "text-center">
				<p id = "food_name">Food name</p>
				<p id = "food_desc">Description</p>
				<img id = "food_img" class = "center-block">
			</div>
		</div>

		<div id = "right_layout" class = "col-md-3" role = "complementary">
		<img src = "/assets/Thumbs_up_icon.png" class = "center-block" alt = "good" id = "good" height = "70%" width = "70%">
		</div>
	</div>
</div>
