<nav class = "navbar navbar-inverse"\>
	<div class="container">
		<a class = "navbar-brand" href = "#first_page">ShallWeEat</a>
		<a class = "navbar-brand navbar-right" href = "#">Profile setting</a>
		<a class = "navbar-brand navbar-right" href = "#">Logout</a>
	</div>
</nav>
