<div id="Food_info">
		<header>
			<p id = "food_name"></p>
		</header>
		<div>
			<aside>
				<button id = "bad">Bad</button>
			</aside>
				
		<section>
			<header>
				<img src="" id = "food_image">
			</header>
			<article>
				<p id = "description"></p>
			</article>
		</section>
			<aside>
				<button id = "good">Good</button>
			</aside>				
		</div>
</div>
