<p id = "text_question"></p>

<div class="pagination">
            <ul>
              <li class="previous"><a href="#previous" class="fui-arrow-left"></a></li>
              <li><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
</div>

