<= render "menu" %>


<div class="container">
	<div class="page-header">
		<p class = "breadcrumb" id = "text_question">sd</p>
	</div>

			<img src = "" id = "bad_image"> 
			<ul class = "list-group">
     		<a class = "list-group-item list-group-item-success" id="button_1" href="#">1</a>
      	<a class = "list-group-item list-group-item-info" id="button_2" href="#">2</a>
      	<a class = "list-group-item  list-group-item-warning" id="button_3" href="#">3</a>
      	<a class = "list-group-item list-group-item-success" id="button_4" href="#">4</a>
      	<a class = "list-group-item list-group-item-info" id="button_5" href="#">5</a>
      </ul>
			<img src = "" id = "good_image">
</div>

<br>
<button id = "button_back">Back!</button>

