<h1> Question 1 </h1>
<%= button_to 'I wanna log out!', :accounts_logout, :method => 'get' %>
 <br><br>


<div class="form_row1">
    <label for="q1">Q1. Are you hungry?:</label>
    <% [ 'no', 'a little bit', 'quite hungry', 'starving', 'starving to death' ].each do |q1| %>
      <br><%= radio_button_tag 'q1', q1, @q1 == q1 %>
      <%= q1.humanize %>
    <% end %>

</div>


<div class="pagination">
            <ul>
              <li class="previous"><a href="#previous" class="fui-arrow-left"></a></li>
              <li class="active"><a href="show">1</a></li>

              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
</div>

